* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  overflow-x: hidden;
}

.middle-section{
  background: url("background.jpg");
  z-index: -1;
  padding: 2% 0;
}

/* .box:before{
  content: '';
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background: url("background.jpg");
  background-attachment: fixed;
  filter: blur(2px);
} */

.footer{
  text-align: left;
  padding-bottom: 3%;
}

.adjust-first, .adjust-second{
  padding-top: 1%;
  padding-left: 5%;
}

.adjust-second{
  padding-top: 3%;
}

.paraheads{
  font-weight: 700;
  color: white;
}

.logo{
  width: 7%;
  padding-left: 2%;
}

@media (max-width: 1024px){
  .logo{
    width: 10%;
  }
}

@media (max-width: 569px){
  .logo{
    width: 20%;
  }
}

@media (max-width: 359px){
  .logo{
    width: 23%;
  }
}
